# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "16b9eb625bc616dd9ca6bb0f7aa0c54b"
name = "varhide-app-01"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_inventory,read_products,write_inventory,write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
